<div id="columns">
  <div class="gifs_title">gifs you dig:</div><br>
  <% @favorites.order("id DESC").each do |gif| %>
    <figure>
      <%= link_to (image_tag Gif.find(gif[:gif_id]).url), gif_path(gif) %>
      <figcaption>
        <div id="gif_name"><%= Gif.find(gif[:gif_id]).name %>
          <br></div>

        <%= form_tag "/#{gif.id}/text" do %>
          <div id="texting_icon"><%= image_submit_tag("texticon.png", {:height => 30}) %></div>
          <div class="texting"><%= text_field_tag "phone_number", "Text this Gif", maxlength: 10, size: 12 %></div>
        <% end %>

        <div class="heart_icon">
          <%= link_to image_tag("heart broken.png"), favorite_gif_path(Gif.find(gif[:gif_id]), type: "unfavorite"), method: :put %></div>
        <div id="icon_text">Unlike this Gif</div>

      </figcaption>
    </figure>
  <% end %>

</div>