<h2>Upload a Gif!</h2>

<%= form_for @gif do |f| %>
  <div class="form_input">
    <fieldset>
      <p><%= f.label :url, 'Gif Url', class: 'field_style' %>
        <%= f.url_field :url, class: 'text_box_style', autofocus: 'autofocus' %></p>

      <p><%= f.label :name, 'Gif Name', class: 'field_style' %>
        <%= f.text_field :name, class: 'text_box_style' %></p>

      <p><%= f.label :keyword_1, 'Keyword 1', class: 'field_style' %>
        <%= f.text_field :keyword_1, class: 'text_box_style' %></p>

      <p><%= f.label :keyword_2, 'Keyword 2', class: 'field_style' %>
        <%= f.text_field :keyword_2, class: 'text_box_style' %></p>

      <p><%= f.label :keyword_3, 'Keyword 3', class: 'field_style' %>
        <%= f.text_field :keyword_3, class: 'text_box_style' %></p>

          <%= f.submit 'Submit', class: 'submit_button', style: 'font-size: 14px;' %>
    </fieldset>
  </div>
<% end %>





