<div id="columns_3">
<div id="show_title"><%= @gif.name %></div>
  <figure><%= image_tag(@gif.url) %></figure></div>
<div id="columns_3">
  <div id="show_keyword_title">Keywords:<br></div>
  <div id="show_keywords"><%= @gif.keyword_1 %><br>
  <%= @gif.keyword_2 %><br>
  <%= @gif.keyword_3 %></div>
</div>