<div class="actions">
  <a href="/people/<%= @gif.id %>/edit">Edit</a>
</div>

<h1>GifsNotFuckingJifs</h1>

<dl class="attributes">
  <dt>Url for Gif</dt>
  <dd><%= image_tag(@gif.url) %></dd>
  <dt>Name</dt>
  <dd><%= @gif.name %></dd>
  <dt>Keywords</dt>
  <dd><%= @gif.keyword_1 %></dd>
  <dd><%= @gif.keyword_2 %></dd>
  <dd><%= @gif.keyword_3 %></dd>
</dl>