<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">

  <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>


  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">


  <!--[if lte IE 8]>
  <link rel="stylesheet" href="css/main-grid-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="css/main-grid.css">
  <!--<![endif]-->


  <!--[if lte IE 8]>
  <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="css/layouts/marketing.css">
  <!--<![endif]-->


  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">


</head>
<body>


<div class="header">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">Your Site</a>

    <ul>
      <li class="pure-menu-selected"><a href="#">Home</a></li>
      <li><a href="#">Tour</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <img src="http://i.imgur.com/hbq70S0.png"/></a>
    <p class="splash-subhead">
      Seriously, stop calling it jif.<br>
    </p>

    <p>
      <a href="http://purecss.io" class="pure-button pure-button-primary">Add a Gif</a>
    </p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Father Gif is Wrong</h2>

    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">

        <h3 class="content-subhead">
        </h3>

        <p>

        <div id="quote">
          <p>"Along with whether or not Al Gore invented the Internet, figuring out the correct pronunciation of GIF is
            one
            of the earliest questions of the Internet. I grew up believing it was hard-G GIF. Most people I know
            pronounce
            it like that too. Even the White House agreed on pronouncing GIF like 'gift'. But we have to re-evaluate the
            whole argument again because the inventor of GIF—PAPA GIF Steve Wilhite—says its pronounced JIF. What. The.
            Hell."<br><br>
            <b>Casey Chan</b><br>
            "The Creator of the GIF Says It's Pronounced JIF. He Is Wrong"<br>
            <i>gizmodo.com</i><br>
          </p>
        </div>
        </p>
      </div>
      <!--<div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">-->
      <!--<h3 class="content-subhead">-->
      <!--<i class="fa fa-mobile"></i>-->
      <!--Responsive Layouts-->
      <!--</h3>-->
      <!--<p>-->
      <!--Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.-->
      <!--</p>-->
      <!--</div>-->
      <!--<div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">-->
      <!--<h3 class="content-subhead">-->
      <!--<i class="fa fa-th-large"></i>-->
      <!--Modular-->
      <!--</h3>-->
      <!--<p>-->
      <!--Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.-->
      <!--</p>-->
      <!--</div>-->
      <!--<div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">-->
      <!--<h3 class="content-subhead">-->
      <!--<i class="fa fa-check-square-o"></i>-->
      <!--Plays Nice-->
      <!--</h3>-->
      <!--<p>-->
      <!--Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.-->
      <!--</p>-->
      <!--</div>-->
    </div>
  </div>








  <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-med-1-2 pure-u-lrg-2-5">
      <img src="http://i.imgur.com/rDOKgun.gif">
    </div>
    <div class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5">

      <div id="quote2">
        <p>
        <h2 class="content-head content-head-ribbon">Hard or Soft?</h2>
        <p id="yui_3_14_1_1_1399005994724_13">


          Jif, like GIF, is an artificial word. So if you invent a word, do you own it? Well, no. As one commenter
          pointed out: "People will use Wilhite's pronunciation pronouncement as faithfully as they followed Alexander
          Graham Bell's command to answer the phone with 'Ahoy'."

          So if the majority of people mispronounce a word, does their pronunciation then count as correct? It does as
          far as dictionaries are concerned. They have the last word (if you'll pardon the pun), and they accept both
          pronunciations, while preferring the most popular one.<br>
          <b>Mike Pilewski</b><br>
          "You Say Graphics, He Says Giraffics"<br>
          <i>spotlight-online.de</i>
        </p>
      </div>

      </p>
    </div>
  </div>

  <div class="content">
    <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

    <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-med-2-5">
        <form class="pure-form pure-form-stacked">
          <fieldset>

            <label for="email">Your Name</label>
            <input id="email" type="text" placeholder="Your Name">

            <button type="submit" class="pure-button">Search Gifs</button>
          </fieldset>
        </form>
      </div>

      <div class="l-box-lrg pure-u-1 pure-u-med-3-5">
        <h4>Contact Us</h4>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>

        <h4>More Information</h4>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

  </div>

  <div class="footer l-box is-center">
    <a href="https://twitter.com/JennyAllar" class="twitter-follow-button" data-show-count="false" data-size="large">Follow
      @JennyAllar</a>
    <script>!function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, 'script', 'twitter-wjs');</script>
  </div>

</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
<script>
  YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
      e.preventDefault();
    }, 'a[href="#"]');
  });
</script>


</body>
</html>




<!--<body>-->
<!--<div class="page-wrapper">-->
<!--<div class="main supporting" id="zen-supporting" role="main">-->
<!--<div class="explanation" id="zen-explanation" role="article">-->
<!--<a class="nav-link" href="/welcome/new">Add New Gif</a>-->

<!--<h1>Gifs</h1>-->

<!--<table class="table-standard">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Url</th>-->
<!--<th>Name</th>-->
<!--<th>Keyword 1</th>-->
<!--<th>Keyword 2</th>-->
<!--<th>Keyword 3</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--
<% @gifs.each do |gif| %>-->
  <!--<tr>-->
  <!--<td>-->
  <!--<a href="/welcome/<%= gif.id %>">-->
  <!--<%= image_tag(gif.url) %>-->
  <!--</a>-->
  <!--</td>-->
  <!--<td>-->
  <!--<a href="/welcome/<%= gif.id %>">-->
  <!--<%= gif.name %>-->
  <!--</a>-->
  <!--</td>-->
  <!--<td>-->
  <!--<a href="/welcome/<%= gif.id %>">-->
  <!--<%= gif.keyword_1 %>-->
  <!--</a>-->
  <!--</td>-->
  <!--<td>-->
  <!--<a href="/welcome/<%= gif.id %>">-->
  <!--<%= gif.keyword_2 %>-->
  <!--</a>-->
  <!--</td>-->
  <!--<td>-->
  <!--<a href="/welcome/<%= gif.id %>">-->
  <!--<%= gif.keyword_3 %>-->
  <!--</a>-->
  <!--</td>-->
  <!--</tr>-->
  <!--
<% end %>-->
<!--</tbody>-->
<!--</table>.</p>-->
<!--</div>-->




<!--

	These superfluous divs/spans were originally provided as catch-alls to add extra imagery.
	These days we have full ::before and ::after support, favour using those instead.
	These only remain for historical design compatibility. They might go away one day.

-->

