<div id="columns_2">
  <% if @user %>
    Welcome, <%= @user.first_name %>!
    <%= button_to 'Sign Out', logout_path, action: :delete, method: "get", class: "button-2" %>
  <% else %>
    <%= button_to 'Sign In', login_path, method: "get" %>
    <%= button_to 'Register Here!', new_user_path, method: "get" %>
    <%= button_to 'Add a Gif!', new_gif_path, method: "get" %>
  <% end %>
  <br>
  <br>
</div>

<div id="columns">
  <% @gifs.order("id DESC").each do |gif| %>
    <figure>
      <%= link_to (image_tag gif.url), gif_path(gif) %>
      <figcaption>
        <div id="gif_name"><%= gif.name %>
          <br></div>

        <%= form_tag "/#{gif.id}/text" do %>
          <div id="texting_icon"><%= image_submit_tag("texticon.png", {:height => 30}) %></div>
          <div class="texting"><%= text_field_tag "phone_number", "Text this Gif", maxlength: 10, size: 12 %></div>


      <% end %>

        <div class="heart_icon">
          <%= link_to image_tag("heart.png"), favorite_gif_path(gif, type: "favorite"), method: :put %></div>
        <div id="icon_text">Like this Gif</div>

      </figcaption>
    </figure>
  <% end %>

</div>
