

<!DOCTYPE html>
<html>
<head>
  <title>It's Gif, Not Jif</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Oswald:300,400|Open+Sans+Condensed:300,700|Nunito' rel='stylesheet' type='text/css'>  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="stylesheet" type="text/css" href="../css/731438.css" />
</head>
<body>
<html><head>
  <meta charset="UTF-8">

  <title>It's Gif, Not Jif</title>

  <link href="style.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

</head>

<body>

<header>
  <div id="header_container">
    <div id="header_logo"><%= link_to image_tag("logo.gif"), root_path %>
    </div><!--end header_logo-->
  </div><!--end header-->
</header>

<nav>
  <div id="nav_container">

    <ul id="menu">
      <li><a href="/">HOME</a></li>
      <li><a href="/">CATEGORIES</a></li>
      <li><a href="/"><%= image_tag("heart.png", height: '15', width: '10') %>&nbsp;&nbsp;&nbsp;&nbsp;LIKES</a></li>
      <li><a href="/">RANDOM</a></li>
      <li><a href="/jif">JIF? NO.</a></li>
    </ul>
<ul id="search_bar">
    <%= form_tag("/search", method: "get") do %>
    <li><%= image_submit_tag("icon_search.png", height: '30')  %></li>
    <li><%= text_field_tag(:q, 'Search Gifs') %></li>

<% end %>
  </ul>
  </div><!--end navigation-->
</nav>

<div id="content">
  <div id="content_container">
<%= yield %>

    <div id="columns">
      <figure>
        <%= image_tag('pizza.gif') %>
        <figcaption>Delicious, cheesy pizza.</figcaption>
      </figure>
      <figure>
        <%= image_tag('bacon.gif') %>
        <figcaption>Yum, bacon.</figcaption>
        </figure>
        <figure><%= image_tag('beiber.gif') %>
        <figcaption>Justin Bieber has only tried weed once..</figcaption>
        </figure>
      <figure>
        <%= image_tag('licking_window.gif') %>
        <figcaption>Sometimes, babies like to lick windows.</figcaption>
      </figure>
        <figure><%= image_tag('dirt.gif') %>
        <figcaption>Toddlers are not smart people.</figcaption>
        </figure>
      <figure>
        <%= image_tag('drums.gif') %>
        <figcaption>Dogs play the drums in the ocean. This happens frequently.</figcaption>
      </figure>
    </div>  
</div>
</div><!--end content-->

<footer>
  <div id="footer_container">
    <ul id="menu_footer">
      <li><a href="https://twitter.com/JennyAllar" target="_blank"><%= image_tag("twitter.png", height: '40') %>&nbsp;&nbsp;&nbsp;&nbsp;FOLLOW ME ON TWITTER</a></li>
  </ul>
    </div>
    <div class="resetColumnSet"></div>

  </div><!--end footer_container-->
</footer>






</body></html>